@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #dd0202;
}

html::-webkit-scrollbar-thumb {
  background: #10221b;
}

section {
  padding: 5rem 9%;
}

.btn, .hbtn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #10221b;
  border-radius: 20px;
  color: #10221b;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  transition: background-color 0.3s ease;
  
}

.btn:hover, .hbtn:hover {
  background: #10221b;
  color: #fff;
}

.heading {
  overflow: hidden;
  border-bottom: 4px solid #51372f;
}



/* Safari Heading */
.safari-heading {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.safari-heading h1 {
  font-family: 'Brush Script MT', 'Brush Script Std', cursive;
  font-size: 4rem;
  color: #fafafa;
  text-align: center;
  padding: 1rem 0;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(223, 37, 9, 0.58);
  margin-bottom: 3rem;
  text-transform: uppercase;
  animation: fadeIn 1.5s ease-out;
}

.safari-heading p {
  color: white; /* Change text color to white */
  font-size: medium;
  font-style: normal;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header.active {
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.8rem;
  color: #10221b;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo i {
  color: #4CAF50;
  margin-right: 10px;
}




.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  font-size: 12px;
  color: #10221b;
  margin-left: 20px;
  transition: color 0.3s;
  padding: 8px 16px;
  border-radius: 3px;
  background: transparent;
}

.navbar a:hover {
  color: #ffffff;
  background-color: #0c120d;
}

.header .navbar #nav-close {
  font-size: 5rem;
  cursor: pointer;
  color: #10221b;
  display: none;
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #10221b;
}

.header .icons a:hover,
.header .icons div:hover {
  color: #219150;
}

.header #menu-btn {
  display: none;
}










.search-box {
  width: 350px;
  position: relative;
  display: flex;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}


.search-input {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 15px 45px 15px 15px;
  background-color: #eaeaeb;
  color: #6c6c6c;
  border-radius: 6px;
  border:none;
  transition: all .4s;
}

.search-input:focus {
  border:none;
  outline:none;
  box-shadow: 0 1px 12px #000000;
  -moz-box-shadow: 0 1px 12px #000000;
  -webkit-box-shadow: 0 1px 50px #0a0202;
}

.search-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  margin-left:-45px;
  border:none;
  color: #6c6c6c;
  transition: all .4s;
  z-index: 10;
}

.search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

.search-btn:focus {
  outline:none;
  color:black;
}
@keyframes blink {
  50% { background-color: rgba(0, 255, 251, 0.959); }
  50% { background-color: transparent; }
  100% { background-color: rgb(255, 0, 0); }
}

.blink {
  animation: blink 1s infinite;
}





















.dropdown .dropbtn {
  background-color: #141e14;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #000000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .navbar a {
    margin: 5px 0;
  }
}

.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 10px;
}



















.event {
  padding: 60px 20px;
}

.event-card {
  background: #624343;
  border: none;
  box-shadow: 0 10px 8px rgb(3, 161, 219);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 30px;
}

.event-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.event-card img {
  border-radius: 5px 5px 0 0;
}

.event-card .card-body {
  padding: 20px;
}

.event-card .card-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}

.event-card .card-text {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.event-card .event-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.event-card .event-date,
.event-card .event-author {
  font-size: 0.9rem;
  color: #999;
}

.event-card .btn {
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
}

.event-card .btn:hover {
  background: #0b0b0b;
}





















































.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
  color: #fff;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0;
  text-decoration: none;
}

.footer .box-container .box a i {
  color: #219150;
  padding-right: .5rem;
}

.footer .box-container .box a:hover {
  color: #219150;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #fff;
}

.footer .credit span {
  color: #219150;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }
  .home .box {
    padding: 2rem;
    justify-content: center;
    background-position: right !important;
  }
  .home .box.second {
    justify-content: center;
    background-position: left !important;
  }
  .home .box .content {
    text-align: center;
  }
  .home .box .content span {
    font-size: 6rem;
  }
  .home .box .content h3 {
    font-size: 7rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    left: -110%;
    background: #fff;
    z-index: 10000;
    width: 35rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header .navbar.active {
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }
  .header .navbar a {
    margin: 1rem 0;
    font-size: 3rem;
  }
  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
}

@media screen and (max-width: 992px) {
  .card {
    width: 400px;
    margin: auto;
  }
  .card .data .Econtent {
    transform: translateY(19px);
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 400px;
    margin: auto;
  }
  .card .data .Econtent {
    transform: translateY(19px);
  }
}
